@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amaticsc/v26/TUZyzwprpvBS1izr_vO0DQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Pangolin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pangolin/v11/cY9GfjGcW0FPpi-tWPfK.ttf) format('truetype');
}
* {
  font-family: 'Amatic SC', sans-serif;
}
body {
  background-color: #F5F5F5;
}
.block1 {
  display: flex;
  flex-direction: row;
}
.block3 {
  border: 8px solid #021AF3;
  background: #F5F5F5;
  height: auto;
  width: 470px;
}
.logo {
  width: 441px;
  height: 230px;
}
.heading {
  color: #000;
  width: 470px;
  margin-left: 5%;
  text-align: centre;
  font-size: 90px;
  font-weight: 400;
}
.colomn {
  z-index: 3;
}
.button_main {
  cursor: pointer;
  width: 393px;
  height: 83px;
  border-radius: 30px;
  background: #021AF3;
  color: #F5F5F5;
  text-align: centre;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10%;
  margin-bottom: 20px;
}
.button_main:hover {
  cursor: pointer;
  background: #25AED9;
}
.rename {
  cursor: pointer;
  width: 393px;
  height: 83px;
  border-radius: 30px;
  background: #021AF3;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10%;
  margin-bottom: 20px;
}
.rename:hover {
  cursor: pointer;
  background-color: #25AED9;
}
.button_main[disabled] {
  cursor: not-allowed;
  background-color: #25AED9;
}
.rename[disabled] {
  cursor: not-allowed;
  background-color: #25AED9;
}
.text {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #F5F5F5;
  line-height: 80px;
}
